<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h3 style="color: red" th:text="${msg}"/>
<div>
    账号: <input type="text" name="jobNumber" id="jobNumber"> <br/>
    密码: <input type="password" name="password" id="password"> <br/>
<!--    验证码: <input type="text" name="code" id="code"><img id="changeImg" src="/getAuthCode" alt=""><br/>-->
    <button id="loginBtn">登陆</button>
</div>
<script>

    $(function () {
        //点击更换验证码   拼接随机数
        // $("#changeImg").click(function(){
        //     $("#changeImg").attr('src',"/getAuthCode?d="+Math.random());
        // });
        $('#loginBtn').click(function () {
            let jobNumber = $('#jobNumber').val()
            let password = $('#password').val()
            // let code = $('#code').val()
            $.ajax({
                url:"/user/login",
                data:{"jobNumber":jobNumber,"password":password},
                method:"POST",
                success: function (data) {
                    window.localStorage.setItem("token",data.token)
                    window.location = data.url
                    console.log(data)
                },
                error: function () {
                    alert("error!")
                }
            })
        })
    })
</script>
</body>
</html>
